<manifest package="com.example.usbrfid"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.usb.host" android:required="true" />

    <application android:allowBackup="true" android:label="USB RFID" android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">   <!-- добавлено -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".UsbSerialService" android:exported="false" />
    </application>
</manifest>
